<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% @coupons.each do |coupon| %>
        <div class="card">
          <div class="left">
          <h1><%= coupon.name %></h1>
          <%= coupon.description %>
          <%= coupon.picture %>
          <div class="clear"></div>
          </div>
          <div class="right">
          <a><span id="<%=coupon.id%>" class="glyphicon glyphicon-remove"></span></a>
          </div>
          <div class="clear"></div>
        </div>
    <% end %>
  </div>
</div>

<script>
    $(function () {
        $('#blah').removeClass('hidden');
    });
</script>