$White: #FFFFFF;
$Pink: #ff94df;
$FooterBackground: #161817;
$color-ribbon: #7DE3C8;

span.glyphicon-remove {
  font-size: 2rem;
}

.button {
  border-top: 1px solid #8c3069;
  background: #d665ce;
  background: -webkit-gradient(linear, left top, left bottom, from(#9c3e73), to(#d665ce));
  background: -webkit-linear-gradient(top, #9c3e73, #d665ce);
  background: -moz-linear-gradient(top, #9c3e73, #d665ce);
  background: -ms-linear-gradient(top, #9c3e73, #d665ce);
  background: -o-linear-gradient(top, #9c3e73, #d665ce);
  padding: 10px 20px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #ffffff;
  font-size: 21px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: middle;
}
.button:hover {
  border-top-color: #782863;
  background: #782863;
  color: #ccc;
}
.button:active {
  border-top-color: #5c1b5a;
  background: #5c1b5a;
}

.description-text{
  margin-top: 12.5%;
  margin-bottom: 1rem;
}

.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.card {
  position: relative;
  text-align: center;

  padding-top: .1rem;
  padding-left: 1rem;
  background: $Pink;
  border-radius:3px;
  transform-origin:top left;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.card__front {
  background-color: $Pink;
}

.card__back {
  background-color: $Pink;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card_header{
  text-align:center;
  text-decoration: underline;
}
.coupon-image {
  height: 200px;
  width: auto;
  margin-bottom: 1rem;
}
.clear{
  float: none;
  clear:both;
}

.left{
  float: left;
}
.right{
  float: right;
}
body {
  background-color: $FooterBackground;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
